{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <!--    <link type="text/css" href="{% static 'man/css/styles.css'%}" rel="stylesheet">-->

</head>
<body>
{% block mainmenu %}
<div class="header">
    <ul id="mainmenu" class="mainmenu">
        {% for k, v in menu.items %}
        <li><a href="{{v}}">{{k}}</a></li>
        {% endfor %}
        {% if user.is_authenticated %}
        <li class="last"> <a href="{% url 'users:login' %}">{{user.username}}</a> |
            <form method="post" action="{% url 'users:logout' %}">
                {% csrf_token %}
            <button type="submit">Выйти</button>
            </form>
        </li>
        {% else %}
        <li class="last"><a href="{% url 'users:login' %}">Войти</a> | <a href="{% url 'users:register' %}">Регистрация</a></li>
        {% endif %}
    </ul>
    <div class="clear"></div>
</div>
{% endblock %}
{% include 'includes/show_messages.html' %}
{% block content %}
{% endblock %}
</body>
</html>