{% include 'base.html' %}


{% block content %}

<h2>Практики для вас</h2>
    {% if not practices %}
        <p>Пока нет ни одной практики
    {% else %}
            {% for practice in practices %}
            <p><a href="{{ practice.get_absolute_url }}">{{ practice.title }}</a></p>
        {% endfor %}
    {% endif %}

{% if is_tutor %}
<h2>Создать практику</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Создать</button>
</form>
{% endif %}
{% endblock %}
