{% extends 'base.html' %}

{% block content %}
<h1>{{title}}</h1>
{% if user.is_authenticated %}
    <h2>Привет, {{ user.first_name }}</h2>
    <form method="post" action="{% url 'users:logout' %}">
        {% csrf_token %}
        <button type="submit">Exit</button>
    </form>
{% else %}
    <form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}"/>
        {{form.as_p}}
    <p>
        <button type="submit">Принять</button>
    </p>
</form>
{% endif %}
{% endblock %}