{% include 'base.html' %}

{% block content %}

<h1>Группа {{group.name}}</h1>
<h2>Студенты:</h2>
{% if users %}
<ul>
    {% for user in users %}
        <li>{{user.first_name}} {{user.second_name}}</li>
    {% endfor %}
</ul>
{% else %}
    <p>Ни одного студента пока не добавлено</p>
{% endif %}

{% if form %}
<h2>Изменить группу:</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Обновить</button>
    </form>
{% endif %}
<br>
{% if user.role == tutor or group.leader == user %}
<form method="post" action="{% url 'users:group-achieve' group.pk %}">
    {% csrf_token %}
    <button type="submit">Удалить</button>
</form>
{% endif %}
{% endblock %}